.visualizer {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: auto;

}

.array-container {
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: 0;
  border: 1px solid #ccc;
}

.array-bar {
  bottom: 0;
  display: inline-block;
  height: 100%;
  width: 20px;
  margin: 0 1px;
  background-color: pink;
}